/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: white;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

header img {
    width: 120px;
    height: auto;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 20px;
    top: 0px;
    left: 40px;
}

/* Perfil de usuario */
.perfil img {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 0%;
    margin-right: 10px;
}

.perfil select {
    background-color: transparent;
    position: relative;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    left: -10px;
    top: -2px;

}

.reproductor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reproductor img {
    max-width: 100%;
    max-height: 100%;
    width: auto; /* Eliminamos el máximo ancho */
    height: auto; /* Eliminamos el máximo alto */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Pie de página */
footer {
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
}
